  html{
    margin: 0px;
    padding: 0px;
  }
  body{
     overflow: hidden;
    font-family: 'IBM Plex Serif', serif;
  }
  img.logo-brand{
    width: 65px;
    margin-left: 0px;
  }
  nav{
    background-color: #347B98;
  }
  span.brand-logo{
    color: #092834;
    font-weight: bolder;
    font-size: 1.5rem;
    display: block;
    opacity: 0.5;
    margin-left: 10px;
    transition-duration: 0.525s;
    cursor: pointer;
  }
  span.brand-logo:hover{
    opacity: 1;
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
        /*-webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;*/
  }
  .btn-signout{
    margin-left : 85%;
  }
  .container-fluid{
    margin: 0px;
  }
  .sidebar{
    margin: 0;
    min-height: 1200px;
    background-color: #ffffff;
    border-right: 0.1px solid #989898;
    color: gray;
  }
  .sidebar.col-lg-2{
    padding: 0px;
    margin: 0px;
  }
  .admin-img{
    display: block;
    padding: 2px ;
    width: 75px;
    border-radius: 50%;
    border: 2px solid #262626;
  }
  span.admin-greeting{
    display: block;
    margin: 5px 0px;
  }
  .admin-info{
    padding: 10px 0px;
  }
  .menu ul{
    list-style-type: none;
    padding: 0px;
    font-size: 1.5rem;
  }
  .menu ul>li{
   display: block; 
   cursor: pointer;
  }
    .menu ul>li:hover{
    color: white;
   background-color: #989898;
  }
  .admin-img-container{
    margin: auto 25%;

  }
  .xiliari-overlay-load{
    width: 100%;
    height: 100%;
    background-color: #333333;
    opacity: 0.4;
    position: relative;
  }
  .xiliari-overlay-load:before{
    content: " ";
    background-image: url(Xiliarii4.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #36363636;
    display: block;
    margin: 0 auto;
    font-size: 2rem;
    width: 10%;
    padding-bottom: 10%;
    text-align: center;
    /*margin-top: 200px;*/
    border-radius: 4px;
    animation: xloader 2s infinite ease-in-out;
    position: absolute;;
    top: 20%;
    left: 45%;

  }
  .no-margin{
    margin: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .no-padding{
    padding: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px; 
  }
  .xWrapper{
    padding-top: 10px;
    padding-left: 10px;
  }
  .btn-container{
    margin: 5px;

  }
  .admin-panel{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 350px;
    align-items: center;
  }
  .xcard {
    width: 80%;
    height: 350px;
    margin: 0 auto;
    border: 0.5px solid rgba(134,134,134,0.1);
    box-shadow: -8px 0px 27px -9px rgba(134,134,134,0.2);
    border-radius: 5px;

  }
  .xcard img{
    height: 150px;
    margin: 5px 25%;
    border-radius: 5px; 
    border-bottom: 0.5px solid black;
  }
  #snackbar {
    visibility: hidden; 
    font-weight: bold;
    min-width: 250px; 
    margin-left: -125px; 
    color: #fff; 
    text-align: center; 
    border-radius: 2px; 
    padding: 16px; 
    position: fixed; 
    z-index: 999; 
    left: 50%;
    top: 35px;
  }
#snackbar.show {
    visibility: visible; 
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
.success{
  background-color: #63c900;
}

.failed{
  background-color: #990000
}

.error_page{
  text-align: center;
  font-style: italic;
  font-size: 2.5rem;
  text-transform: capitalize;
}

.admin-info{
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.grid-container{
  display: grid;
  grid-column-gap: 10px;
}

.column-2{
  grid-template-columns: 1fr 1fr;
}

.column-3{
  grid-template-columns: 1fr 1fr 1fr;
}

.input-warning{
    color: #495057;
    background-color: #fff;
    border-color: #ff4d4d;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(100,60,6s0,.25)
}

.input-warning:focus{
    color: #495057;
    background-color: #fff;
    border-color: #ff4d4d;
    outline: 0;
    box-shadow: none;
}

#warning{
  color: #ff4d4d;
}

/*animation goes here*/
@-webkit-keyframes swing
{ 
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: 30px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;} 
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}
@keyframes xloader {
    0% { 
        transform: scale(1);
    } 40% { 
        transform: scale(1.1);
    } 100% { 
        transform: scale(1);
    }
}